[ng-cloak] {
  display: none;
}

.emptyClass {
  background-color: #d6d6d6 !important;
  color: black !important;
}

.notEmptyClass {
  background-color: red;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Console */
.console-container {
  background-color: rgb(248, 248, 248);
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.console-window {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#console-button {
  position: absolute;
}

.consoleOn {
  height: 150px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #dedede;
  border-radius: 4px;
  padding: 5px;
}

.consoleOff {
  display: none;
}

/* Workspace */
.workspace {
  position: relative;
  max-height: : 95%;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */
.sidebar-item {
  transition: all .2s ease-in-out;
}

.sidebar-item:hover {
  transform: scale(1.1);
}


md-list .md-button {
  color: inherit;
  font-weight: 500;
  /*text-align: left; */
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}

md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/*primary console area*/


md-button 


/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
  margin-right: 20px;
}

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

/* Task Card Styles */
.task-cards-container {
  overflow-y: auto;
}

.task-card-container {
  display: flex;
  flex-direction: row;
}


.flipped {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.task-cards {
  width: 375px;
}


.task-card-title {
  margin-left: auto;
  margin-right: auto;
}

.task-card-content {
}

.task-item {
  transition: all .2s ease-in-out;
}

.task-item:hover {
  opacity:0.9;
}

.add-task-item {
  left: 15px;
  width: 295px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.md-list-container {
  border-style: dashed;
  border-width: 2px;
  border-color: #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
}

.alertSuccess {
  background-color: rgb(223,240,216);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  display: block;
  border-color: rgb(214,233,198);
  border-style: solid;
  border-width: 1px;
  color: rgb(60,118,61)
}

.alertFail {
  background-color: rgb(242,222,222);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  display: block;
  border-color: rgb(235,204,209);
  border-style: solid;
  border-width: 1px;
  color: rgb(169, 68, 66);
}

.task-instruction {
  transition: all .2s ease-in-out;
}

.task-instruction:hover {
}

.listContainer {
   /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: 1s; 
    
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 2px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

/* Input styles */
input[type="file"] {
}

.show-cursor {
    cursor: pointer;
}

.button-size {
  width: auto !important;
}

.button-text {
    text-align: center !important;
}

.positions-toolbar-button {
    font-size: 12px;
}

.button-icon {
    
}

.tooltip {
  
}
